{% extends "base2.html" %} {% block title %}Add New Admin{% endblock %} {% block
content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<body style="background-color: #222f3e; color: whitesmoke">

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center mb-4">Add New Admin</h3>
                <form method="POST">



                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="name" class="form-control" id="name" name="name" required placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="nrc">NRIC</label>
                        <input type="nrc" class="form-control" id="nrc" name="nrc" required placeholder="Enter NRIC">
                    </div>
                    <div class="form-group">
                        <label for="type">Admin Type</label>
                        <select class="form-control" id="type" name="type" required>
                            <option value="" selected>Select Admin Type</option>
                            <option value="QAM">Quality Assurance Manager</option>
                            <option value="QAC">Quality Assurance Coordinator</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label for="dpt">Department</label>
                            <select class="form-control" id="dpt" name="dpt" required>
                                <option value="" disabled selected>Select Department</option>
                                {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" id="address" name="address" required placeholder="Enter Address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" name="password1" required placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" required placeholder="Confirm password">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <br/>
            </div>
        </div>
    </div>
</body>
{% endblock %}