{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">{{ idea.title }}</h1>
<link rel="stylesheet" href="/static/ideas.css"/>
    <form method="POST">
<div class="idea-box">
  <p>{{ idea.description }}</p>
  <p>Category: {{ categories[idea.category] }}</p>
  <p>Department: {{ departments[idea.staff.department] }}</p>
  <p>Time: {{ idea.time.strftime('%Y-%b-%d %I:%M %p') }}</p>
  <p>Document: <a href="/static/uploads/{{idea.document}}">{{ idea.document }}</a></p>
  <p>Views: {{ idea.view_count }}</p>
  <p>Posted by: {% if idea.anon %}Anonymous{% else %}{{ idea.staff.name }}{% endif %}</p>
</div>
      <p>
        <div class="button-wrapper">

            <form method="POST">
            <input type="hidden" name="idea_id" value="{{ idea.id }}">
            <input type="hidden" name="status" value="1">
            {% if like_list.get(idea.id) == current_user.id %}
            <button type="submit" class="btn btn-outline-primary like-button">
            {{ idea.like }} <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </button>
            {% else %}
            <button type="submit" class="btn btn-primary like-button">
            {{ idea.like }} <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </button>
            {% endif %}
            </form>

            <form method="POST">
            <input type="hidden" name="idea_id" value="{{ idea.id }}">
            <input type="hidden" name="status" value="-1">
            {% if dislike_list.get(idea.id) == current_user.id %}
            <button type="submit" class="btn btn-outline-primary dislike-button">
            {{ idea.dislike }} <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </button>
            {% else %}
            <button type="submit" class="btn btn-primary dislike-button">
            {{ idea.dislike }} <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            </button>
            {% endif %}
            </form>

        </div>
      </p>
      <div class="idea-box">
          <form method="POST">
          <div class="form-group">

                    <label for="comment">Add Comment</label>
                    <textarea type="comment" class="form-control" id="comment" name="comment"
                        placeholder="Enter Comment" required></textarea>

          </div>

          <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="anon" name="anon">
                        <label class="form-check-label" for="anon">Anonymous Post</label>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Post Comment</button>
      </div>
        </form>
    </form>
<br>
<form method="POST">
    <div class="idea-box">
        <div class="comment-count">
            <span style="display: inline-block">
                <label>Number of Comments: {{ idea.comment_count }}</label>
            </span>
            <span style="display: inline-block; float: right">
                <label>**Latest Comments sorted first**</label>
            </span>
        </div>
    </div>

    <div class="comment-box">
        {% for comment in comments %}
            <div class="comment-box">
                <p>{{ comment.description }}</p>
                <span style="display: inline-block"><p>Posted by: {% if comment.anon %}Anonymous{% else %}{{ comment.staff.name }}{% endif %}</p></span>
                <span style="display: inline-block; float: right"><p>{{ comment.time.strftime('%Y-%b-%d %I:%M %p') }}</p></span>
            </div>
        {% endfor %}
    </div>
</form>


{% endblock %}